# IDE编辑器项目配置文件
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.svn
 *.log
 *.bak
 *.swp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
